html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl,
dt,
dd,
input,figure,menu
	{
	margin: 0px;
	padding: 0px;
}

li{
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

img {
	vertical-align:top;
	border: 0;
}
input{
	border: 0px;
	outline: none;
}
i,em,b,strong{
	font-style: normal;
	font-weight:normal;
}
